<div class="containerBody">
  <div class="container" id="container">
    <div *ngIf="currentLoginType == 'email'; else signInWWithPhone">
      <app-sign-in-with-email (switchLoginType)="switchToPhone()"></app-sign-in-with-email>
    </div>
    <ng-template #signInWWithPhone>
      <app-sign-in-with-phone (switchLoginType)="switchToEmail()"></app-sign-in-with-phone>
    </ng-template>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <h1>Welcome to App!</h1>
          <p>Enter your personal details and start journey with us</p>
        </div>
      </div>
    </div>
  </div>
</div>