<form [formGroup]="user">
  <div class="row">
    <div class="col-md-5">
      <div class="p-3 py-5">
        <span class="font-weight-bold">Profile picture</span><br>
        <div class="d-flex flex-column align-items-center text-center">
          <img class="rounded-circle mt-5" width="150px" src={{user.value.img}}>
          <input type="file" (change)="uploadImg($event)" />
        </div>
      </div>
    </div>
    <div class="col-md-7">
      <div class="p-3 py-5">
        <div class="row mt-2">
          <div class="col-md-6">
            <label class="labels">First Name</label>
            <input type="text" class="form-control" formControlName="firstName" placeholder="First Name"
              (keyup)="validateFName()" />
            <span class="error">{{statusFName}}</span>
          </div>
          <div class="col-md-6">
            <label class="labels">Last Name</label>
            <input type="text" class="form-control" formControlName="lastName" placeholder="Last Name"
              (keyup)="validateLName()" />
            <span class="error">{{statusLName}}</span>
          </div>
          <span style="font-size: 14px;">Your name may appear where you contribute or are mentioned.</span>
        </div>
        <div class="row mt-3">
          <div class="col-md-12 relative">
            <label class="labels">Phone Number</label>
            <input type="text" class="form-control" formControlName="phone" placeholder="Phone number"
              (keyup)="validatePhone()" [readOnly]="this.user.value.phoneVerifired">
            <span class="error">{{statusPhone}}</span>
            <a class="verify verifi" *ngIf="!this.user.value.phoneVerifired" (click)="verify(1)">Verify</a>
            <p class="verify verified" *ngIf="this.user.value.phoneVerifired">Verified</p>
          </div>
          <div class="modal" *ngIf="showModalPhone">
            <div class="modal-content">
              <app-verification-phone [form]="user" (switchTemplate)="switchTemplate(1)"
                (verificationPhone)="verificationPhone($event)"></app-verification-phone>
            </div>
          </div>
          <div class="col-md-12 relative">
            <label class="labels">Email</label>
            <input type="email" class="form-control" formControlName="email" placeholder="Email"
              (keyup)="validateEmail()" [readOnly]="this.user.value.emailVerifired">
            <span class="error">{{statusEmail}}</span>
            <a class="verify verifi" *ngIf="!this.user.value.emailVerifired" (click)="verify(2)">Verify</a>
            <p class="verify verified" *ngIf="this.user.value.emailVerifired">Verified</p>
          </div>
          <div class="modal" *ngIf="showModalEmail">
            <div class="modal-content">
              <app-verification-email [form]="user" (switchTemplate)="switchTemplate(2)"></app-verification-email>
            </div>
          </div>
        </div>
        <div class="row mt-3">
          <div class="col-md-12">
            <label class="labels">Bio</label>
            <textarea type="text" class="form-control" formControlName="bio"></textarea>
          </div>
        </div>
        <div class="mt-5 text-center">
          <button class="btn btn-primary profile-button" (click)="submit()">Save Changes</button>
        </div>
      </div>
    </div>
  </div>
</form>