<div class="form-container sign-in-container">
  <form [formGroup]="signInWithPhoneForm" (ngSubmit)="login()">
    <img src="../../assets/nextG.png" width="120px" />
    <h2>Sign in</h2>
    <span>Please enter your credentials to access your account.</span>
    <p style="color: red">{{statusLogin}}</p>
    <input type="text" formControlName="phone" placeholder="Phone number" />
    <div>
      <a href="#" style="float: left;" (click)="switchToEmail()">Sign In With Email</a>
      <a href="#" style="float: right;">Forgot password?</a>
    </div>
    <button>Sign In</button>
    <a href="#" style="text-align: center;">Not register yet? Create An Account</a>
  </form>
</div>