<div class="containerBody">
  <div class="container" id="container">
    <div class="form-container sign-in-container">
      <div class="form" style="margin-top: 40px;">
        <img src="../../assets/nextG.png" />
        <h4>New Password</h4>
        <span>Please enter new password.</span>
      </div>
      <app-form-password [form]="form" [isResetPassword]="true" (resetPassword)="resetPassword()"></app-form-password>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <h1>Welcome to App!</h1>
          <p>Enter your personal details and start journey with us</p>
        </div>
      </div>
    </div>
  </div>
</div>