<div class="containerBody">
  <div class="container" id="container">
    <div class="form-container sign-in-container">
      <div class="form" style="margin-top: 40px;">
        <img src="../../assets/nextG.png" />
        <h2>Sign in</h2>
        <span>Please enter your credentials to access your account.</span>
      </div>
      <div *ngIf="currentLoginType == 'email'; else signInWWithPhone">
        <app-sign-in-with-email (switchLoginType)="switchToPhone()"></app-sign-in-with-email>
      </div>
      <ng-template #signInWWithPhone>
        <app-sign-in-with-phone (switchLoginType)="switchToEmail()"></app-sign-in-with-phone>
      </ng-template>
      <div class="form">
        <a href="#" style="text-align: center;">Not register yet? Create An Account</a>
      </div>
    </div>
    <div class="overlay-container">
      <div class="overlay">
        <div class="overlay-panel overlay-right">
          <h1>Welcome to App!</h1>
          <p>Enter your personal details and start journey with us</p>
        </div>
      </div>
    </div>
  </div>
</div>