.containerBody {
  background: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
}

/* https://codepen.io/Rh2o/pen/yLgxJoG */
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');

* {
  box-sizing: border-box;
}

body {
  background: #f6f5f7;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Montserrat', sans-serif;
  height: 100vh;
  margin: -20px 0 50px;
}

h1 {
  margin: 0;
}

a {
  color: #333;
  font-size: 12px;
  text-decoration: none;
  margin: 15px 0;
  cursor: pointer;
}

a:hover {
  color: blue !important;
}

.error {
  color: red;
}

span {
  font-size: 10.5px;
}

.button-form {
  border: none;
  border-radius: 5px;
  background-color: #bebebe;
  font-size: 14px;
  padding: 15px;
  letter-spacing: 1px;
  transition: transform 80ms ease-in;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button-form:hover {
  color: #FFFFFF;
  background-color: #f58926;
}

.arrow {
  height: fit-content;
  padding: 20px;
  background-color: transparent;
  color: blue;
  border: none;
  margin-left: -50px;
  cursor: pointer;
}

.material-symbols-outlined {
  font-size: 20px;
  margin-left: 5px;
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.eye {
  margin-left: 250px;
  cursor: pointer;
  margin-top: -38px;
}

.form {
  background-color: #FFFFFF;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
}

.form img {
  width: 120px;
}

.verification {
  background-color: #FFFFFF;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  text-align: center;
  height: 100%;
}

form {
  background-color: #FFFFFF;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  padding: 0 50px;
  /* text-align: center; */
}

input {
  background-color: #eee;
  border: none;
  padding: 12px 15px;
  margin: 8px 0;
  width: 100%;
  outline: none;
}

.container {
  background-color: #fff;
  border-radius: 3px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25),
    0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.sign-in-container {
  left: 0;
  width: 50%;
}

.overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.overlay {
  background: rgb(231, 175, 20);
  background: -webkit-linear-gradient(to right, #f99131, #f99131);
  background: linear-gradient(to right, #f99131, #f99131);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 0 0;
  color: #FFFFFF;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.overlay-left {
  transform: translateX(-20%);
}

.overlay-right {
  right: 0;
  transform: translateX(0);
}

/* Tùy chỉnh chiều rộng của ô nhập */
.group-col {
  width: calc(50% - 5px); /* Chia đều chiều rộng */
}

.right {
  margin-left: 10px;
}

/* Tùy chỉnh khi xem trên màn hình nhỏ */
@media (max-width: 576px) {
  .group-col {
    width: 100%; /* Trên màn hình nhỏ, chiếm toàn bộ chiều rộng */
    margin-right: 0; /* Không có khoảng cách giữa hai ô nhập */
  }
}