<app-navigation (setSecurity)="setToSecurity($event)"></app-navigation>
<div class="black">
  <img width="100%" src="../../assets/New folder/Frame 1000003323.png">
  <img width="100%" src="../../assets/New folder/Frame 1261153116.png">
    <!-- fđf -->
  <img width="100%" src="../../assets/New folder/Features section.png">
  <img width="100%" src="../../assets/New folder/Frame 1261153062.jpg">
  <img width="100%" src="../../assets/New folder/Frame 1261153082.png">
  <img width="100%" src="../../assets/New folder/Frame 1261153012.png">
  <img width="100%" src="../../assets/New folder/Liên hệ.png">
</div>
<app-footer></app-footer>