<form [formGroup]="signInWithEmailForm" (ngSubmit)="login()">
  <p style="color: red">{{statusLogin}}</p>
  <input type="text" formControlName="email" placeholder="Email" />
  <input type="password" formControlName="password" placeholder="Password" autocomplete="current-password" required=""
    id="id_password">
  <i class="fa fa-eye" id="togglePassword" style="margin-left: 250px; cursor: pointer; margin-top: -36px"></i><br>
  <div>
    <a href="#" style="float: left;" (click)="switchToPhone()">Sign In With SMS</a>
    <a href="#" style="float: right;">Forgot password?</a>
  </div>
  <button>Sign In</button>
</form>