<app-navigation></app-navigation>
<!-- <div *ngIf="isAdmin(); else userContent">
  <app-list-employee></app-list-employee>
</div>
<ng-template #userContent>
  <app-profile-employee></app-profile-employee>
</ng-template> -->

<div class="container rounded bg-white mt-5 mb-5">
  <div class="row">
    <div class="col-md-10">
      <div class="row" style="align-items: center; display: grid; grid-template-columns: 1fr 9fr;">
        <div>
          <img style="width: 50px; height: 50px; border-radius: 50%;" src={{user.value.img}}>
        </div>
        <div>
          <span class="font-weight-bold">{{this.user.value.firstName}}</span><br>
          <span class="text-black-50">Update your username and manage your account</span>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2 border-right">
          <div class="p-3 py-5">
            <div class="navbar">
              <a href="/home">General</a>
              <a href="/pass">Password</a>
            </div>
            <hr>
            <div class="navbar">
              <a (click)="logout()">Sign Out</a>
            </div>
          </div>
        </div>
        <div class="col-md-10">
          <app-general-profile [user]="user" (saveChanges)="saveChanges()" (onFileSelected)="onFileSelected($event)"
            (sendOtp)="sendOtp()" (sendVerifyEmail)="sendVerifyEmail()"
            (verificationPhoneWhenVerify)="verificationPhoneWhenVerify($event)"></app-general-profile>
        </div>
      </div>
    </div>
    <div class="col-md-2">
      <div class="text-center">
        <button class="btn btn-primary go-pro-button" (click)="goToCard()">
          <span class="font-weight-bold" style="color: black;">Go</span>
          <span class="font-weight-bold" style="color: #f99131;"> Pro</span>
          <label class="labels">Add power features for just $5/month</label>
        </button>
      </div>
    </div>
  </div>
</div>