@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css);
    /* @import url(https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js); */
/* @import url(https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js); */

body {
  background: rgb(99, 39, 120)
}

.form-control:focus {
  box-shadow: none;
  border-color: #f99131;
}

.profile-button {
  background: #bebebe;
  box-shadow: none;
  border: none;
}

.go-pro-button, .go-pro-button:hover {
  background-color: #ffffff;
  color: #a3a8ad;
  border: 1px solid #ced4da;
}

.go-pro-button label:hover {
  cursor: pointer;
}

.profile-button:hover {
  background: #f58926
}

.profile-button:focus {
  background: #f58926;
  box-shadow: none
}

.profile-button:active {
  background: #f58926;
  box-shadow: none
}

.back:hover {
  color: #f58926;
  cursor: pointer
}

.labels {
  font-size: 11px
}

.add-experience:hover {
  background: #f99131;
  color: #f6f5f7;
  cursor: pointer;
  border: solid 1px #f99131
}

.modal {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 384px;
  height: 480px;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.6);
}

.error {
  color: red;
}

.relative {
  position: relative;
}

.verify {
  position: absolute;
  margin-top: -30px;
  right: 25px;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}

.verifi {
  color: blue;
  cursor: pointer;
}

.verified {
  color: green;
}

.combo {
  width: 150px;
  height: 150px;
}

.avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.edit-button {
  position: absolute;
  background-color: #bebebe;
  color: white;
  margin: -20px;
  padding: 8px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 4px;
  cursor: pointer;
  transform: translate(-50%, -50%);
}

.edit-button:hover {
  background: #f58926
}

.input-file {
  display: none;
}

.label-container {
  position: absolute;
  bottom: 0;
  right: 0;
}

.navbar a {
  text-decoration: none;
  color: gray;
  display: block;
  padding: 16px;
  text-align: center;
  position: relative;
}

.navbar a::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 5px;
  background-color: transparent;
  left: 0;
  top: 0;
  transition: background-color 0.3s;
}

.navbar a:hover::before {
  background-color: #f58926;
}

.navbar a:hover {
  color: #f58926;
}